name: Metrics

permissions:
  contents: write

on:
  schedule:
    - cron: "0 9 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: CameronCSS
          filename: metrics.svg
          base: ""
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_ignored: html, css, jupyter notebook
          plugin_languages_details: bytes-size, percentage
